h1{
text-align:center;
}
form {
  border-radius: 30px;
  position: relative;
  z-index: 1;
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 5px 0 rgba(0, 0, 0, 0.24);
}
fieldset{
  border-radius: 20px;
}
#subb{
  background-color: navy;
  border: none;
  border-radius: 15%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: auto;
  opacity: 0.4;
  transition: 0.4s;
  cursor: pointer;
}
#subb:hover {opacity: 0.8}
#cd{
 background-color:navy;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 5px 0 rgba(0, 0, 0, 0.24)
 }
 #cd a{
 float:right;
 display:block;
 color:white;
 text-align:center;
 padding:18px 16px;
 text-decoration:none;
 opacity: 0.8;
 transition: 0.8s;
 cursor: pointer;
 }
 #cd a:hover
 { opacity: 1;
 background-color:red;
 color:white;}
}